.statistics {
margin-top: 20px;
    width: 300px;

  border-radius: 5px;
  background-color: white;
  border: 1px solid grey;
  box-shadow: 3px 3px 10px -2px black;
}

.title {
  text-align: center;
}

.list {
  display: flex;
  border-top: 1px solid grey;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  border-left: 1px solid grey;
}

.percent {
  font-size: 20px;
  margin-top: 5px;
  color: darkgrey;
}